@font-face {
    font-family: 'Tiki Tropic';
    src: url('TikiTropic.eot');
    src: url('TikiTropic.eot?#iefix') format('embedded-opentype'),
        url('TikiTropic.woff2') format('woff2'),
        url('TikiTropic.woff') format('woff'),
        url('TikiTropic.ttf') format('truetype'),
        url('TikiTropic.svg#TikiTropic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  height: 100%
}

#image-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  height: 50%;
  width:50%;
}

#start-menu {
  display: none;
  background-image: url(visual-novel/zero.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

#game-title {
  font-family: 'Tiki Tropic';
  font-size: 100px;
  margin: 5px;
  padding: 0;
  text-align: center;
}

#play-button,
#settings-button,
#code-button {
  font-family: 'Tiki Tropic';
  -webkit-text-stroke: 3px white;
  font-size: 65px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  display: block;
  color: inherit;
}

#play-button {
  color: rgb(233, 8, 120)
}

#settings-button {
  color: rgb(245, 129, 31)
}

#code-button {
  color: rgb(93, 29, 20)
}




#visual-novel {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
  0% {opacity:0; }
  50% {opacity:0; }
  100% {opacity:1; }
}


#text-box {
  width: 50%;
  height: 150px;
  background-color: grey;
  border: 3px solid black;
  border-radius: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

#text-box-next {
  float: right;
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin: 5px;
}

.pink {
  color: rgb(233, 8, 120);
  -webkit-text-stroke: 3px white;
}

.orange {
  color: rgb(245, 129, 31);
  -webkit-text-stroke: 3px white;
}

.brown {
  color: rgb(93, 29, 20);
  -webkit-text-stroke: 3px white;
}
