@font-face {
  font-family: 'Tiki Tropic';
  src: url('TikiTropic.eot');
  src: 
    url('TikiTropic.eot?#iefix') format('embedded-opentype'),
    url('TikiTropic.woff2') format('woff2'),
    url('TikiTropic.woff') format('woff'),
    url('TikiTropic.ttf') format('truetype'),
    url('TikiTropic.svg#TikiTropic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka One';
  src: 
    url('FredokaOne-Regular.woff2') format('woff2'),
    url('FredokaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  height: 100%;
}

#image-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  height: 50%;
  width: 50%;
}

#start-menu {
  display: block;
  background-image: url(visual-novel/zero.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  animation: fadeInAnimationMenu ease 1s;
}

#game-title {
  font-family: 'Tiki Tropic', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 100px;
  margin: 5px;
  padding: 0;
}

#play-button,
#settings-button,
#code-button {
  font-family: 'Tiki Tropic', Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 3px white;
  font-size: 65px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  display: block;
  color: inherit;
  border-radius: 5px;
  border: inherit;
  background-color: rgba(255, 255, 255, 0.4);
}

#play-button {
  color: rgb(233, 8, 120);
  border: 3px solid rgb(233, 8, 120);
}

#settings-button {
  color: rgb(245, 129, 31);
  border: 3px solid rgb(245, 129, 31);
}

#code-button {
  color: rgb(93, 29, 20);
  border: 3px solid rgb(93, 29, 20);
}

#play-button:hover,
#settings-button:hover,
#code-button:hover { background-color: rgba(255, 255, 255, 0.6); }

#visual-novel {
  background-image: url('/visual-novel/bg-image.png');
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInAnimationMenu {
  0% { opacity:0; }
  100% { opacity:1; }
}


#text-box {
  width: 50%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid rgb(93, 29, 20);
  border-radius: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

#text-box-text {
  color: white;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px black;
}

#text-box-next {
  float: right;
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin: 5px;
  color: white;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px black;
}

#text-box-next:after {
  margin: 5px;
  content: '\25b6';
  animation: nextarrow 0.7s infinite alternate;
  color: black;
}

@keyframes nextarrow {
  0% { opacity: 0.1; }
  100% { opacity: 0.9; }
}

.pink {
  color: rgb(233, 8, 120);
  -webkit-text-stroke: 3px white;
}

.orange {
  color: rgb(245, 129, 31);
  -webkit-text-stroke: 3px white;
}

.brown {
  color: rgb(93, 29, 20);
  -webkit-text-stroke: 3px white;
}

#mute-button-1,
#mute-button-2 {
  border: 0;
  background-color: transparent;
  float: left;
}

#level-1,
#level-2,
#level-3,
#level-4 {
  height: 300px;
  width: 300px;
  margin: 10px;
  border: 8px solid rgb(93, 29, 20);
  border-radius: 10px;
  font-size: 45px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Tiki Tropic', Arial, Helvetica, sans-serif;
  color: initial;
  -webkit-text-stroke: initial;
}

#level-1:hover,
#level-2:hover,
#level-3:hover,
#level-4:hover { background-color: rgba(255, 255, 255, 0.6); }

#level-1,
#level-3 {
  color: rgb(245, 129, 31);
  -webkit-text-stroke: 2px white;
}

#level-2,
#level-4 {
  color: rgb(233, 8, 120);
  -webkit-text-stroke: 2px white;
}

#level-buttons {
  display: none;
  background-image: url(visual-novel/zero.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  animation: fadeInAnimationMenu ease 1s;
}

#level-button-section {
  display: block;
  margin-right: 110px;
  margin-left: 110px;
  margin-top: 100px;
}

#select-level-title {
  font-family: 'Tiki Tropic', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 100px;
  margin: 5px;
  padding: 0;
  color: rgb(93, 29, 20);
  -webkit-text-stroke: 3px white;
}

#text-box-speaker {
  color: white;
  text-align: center;
  font-size: 20px; 
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px rgb(15, 167, 223);
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid rgb(15, 167, 223);
  border-radius: 10rem;
  margin-top: 30px;
  width: 100px;
  padding: 2px;
  margin-right: auto;
  margin-left: 375px;
}

#back-to-menu-1,
#back-to-menu-2 {
  width: 100px;
  height: 50px;
  border: 0;
  background-color: transparent;
  float: right;
  font-size: 45px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 30px;
  font-weight: bold;
}

#settings {
  display: none;
  background-image: url(visual-novel/zero.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  animation: fadeInAnimationMenu ease 1s;
}

#volume-decrease,
#volume-increase {
  margin-top: 100px;
  float: left;
  font-size: 100px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 50%;
  color: rgb(233, 8, 120);
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

#settings p {
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 50px;
  font-size: 50px;
  float: left;
  color: rgb(245, 129, 31);
  -webkit-text-stroke: 2px white;
  font-family: 'Tiki Tropic', Arial, Helvetica, sans-serif;
}

#settings span p {
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 50px;
  float: left;
}
