#grid td {
  width: 100px;
  height: 100px;
  border-collapse: collapse;
  background-size: cover;
  padding: 0;
  margin: 0;
  border: 0;
}

td img { 
  display:block; 
  height: 100%;
}

#grid {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 0;
  border: 10px solid black;
}

#moves-display {
  float: left;
  margin-top: 25%;
  border: 3px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: lightgrey;
}

#level-display {
  float: right;
  margin-top: 25%;
  border: 3px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: lightgrey;
}

#moves-display-p,
#level-display-p {
  font-size: 80px;
  text-align: center;
}

@keyframes gameFadeIn {
  0% {background-color: black; opacity: 0}
  80% {background-color: black; opacity: 0}
  100% {background-color: transparent; opacity: 1}
}

body {
  animation: gameFadeIn 5s;
}

.to-main-menu {
  text-align: center
}